{% if appointments_lst %}
    <ul>
    {% for appointment in appointments_lst %}
        <li><a href="{% url 'remindr:appointment' appointment.id %}">{{ appointment.time_to_take }}</a></li>    {% endfor %}
    </ul>
{% else %}
    <p>No appointments available.</p>
{% endif %}


{#<h1>Add a new </h1>#}
{##}
{#{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}#}
{##}
{#<form action="{% url 'remindr:senior' %}" method="post">#}
{#{% csrf_token %}#}
{#{{ form }}#}
{#<input type="submit" value="Submit" />#}
{#</form>#}