/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

#container {
	margin: 15px 15px;
}

h4 {
	padding-top: 0;
}
body .row {
	max-width: 100%;
}

#container {
	margin: 2% 2%;
}
.vertical-nav {
	/*width: 100%;*/
}

.row #contactMenu {
	max-width: 320px;
}

.contactItem {
	min-height: 30%;
	width: 100%;
	padding: 5% 5%;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.7);
	cursor: pointer;
}

.contactItem:not(.nohover):hover {
	background-color: #9DE5D2;
	box-shadow: 0px -1px 1px rgba(0,0,0,0.7);
}
.killHeight.valign:before {
	height: 0px;
}

.contactPhoto {
	background-color: #289CC7;
	background: #289CC7 url('../img/joannie.jpg') center center no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.contactName {
	margin-left: 3%;
}

.contactHero {
	text-align: center;
}

.contactPhoto.hero {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

#profileView {
	position: relative;
	width: 100%;
	min-height: 623px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.7);
}

#profileBanner {
	/*position: absolute;*/
	/*height: 33%;*/
	width: 100%;
}

#profileBanner #profileHeader {
	/*position: relative;*/
	/*height: 75%;*/
	background-color: #CBCBCB;
	padding: 2% 2%;
}

#profileBanner #profileNavbar {
	/*position: relative;*/
	/*height: 25%;*/
	background-color: #F00;
}

/* Responsive */
@media screen and (max-width:768px) {
	#contactMenu {
		max-width: 100%;
	}
	#contactList {
		display: none;
	}
}