/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

body {
	/*background-color: #24E4DF;*/
}

#container {
	margin: 15px 15px;
}
h3{
	font-size: 1.4em;
}
h4 {
	padding-top: 0;
}
body .row {
	max-width: 100%;
}

#container {
	margin: 2% 2%;
}
.vertical-nav {
	/*width: 100%;*/
}

.row #contactMenu {
	/*max-width: 230px;*/
}

.containListItem {
}

.contactItem {
	min-height: 30%;
	width: 100%;
	padding: 5% 5%;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.7);
	cursor: pointer;
}

.contactItem:not(.nohover):hover {
	background-color: #9DE5D2;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.3) inset;
	/*border: 1px solid #000;*/
}
.killHeight.valign:before {
	height: 0px;
}

.contactPhoto {
	background-color: #289CC7;
	width: 40px;
	height: 40px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.contactPhoto:not(.addSenior) {
/*	background: #289CC7 url('../img/joannie.jpg') center center no-repeat;
	background-size: cover;*/
}

.contactPhoto#black {
	background-color: #000;
}

.contactPhoto.addSenior{
	font-weight:900;
	font-size:2em;
	text-align: center;
	line-height: 40px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
}

.contactItem:hover .contactPhoto.addSenior{
	box-shadow: 0px 2px 2px #197CA1;
}
.contactName {
	margin-left: 3%;
}

.contactHero {
	text-align: center;
}

.contactPhoto.hero {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

#profileView {
	position: relative;
		width: 100%;
	min-height: 600px;
	width: 100%;
	min-height: 623px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.7);
}

#profileBanner {
	width: 100%;
}

#profileBanner #profileHeader {
	/*position: relative;*/
	/*height: 75%;*/
	background-color: #CBCBCB;
	padding: 2% 2%;
}

#profileBanner #profileNavbar {
	/*position: relative;*/
	/*height: 25%;*/
	background-color: #F00;
}

.profilePanel{
	display: none;
	padding: 0% 3%;
}

.profilePanel.active {
	display: block;
}

.gumby-no-touch .navbar ul li.active > a {
	background: #868d92;
}

.navbar ul li:hover > a {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.3) inset, -2px 0px 1px rgba(0,0,0,0.3) inset;
}

.profilePanel .listHeading h4 {
	font-weight: 600;
	font-size: 1.15em;
	margin-bottom: 0.5em;
}
.profilePanel .listContainer {
	max-width: 100% !important;
	height: 450px;
	border: 1px solid;
    border-color: #cecece;
	border-radius: 10px;
	padding: 2% 2%;
}

.profilePanel .listContainer:not(#scheduleList) {
	margin-bottom: 6%;
}

.listContainer .listGroup {
	margin: 1%;
	height: 315px;
	overflow-y: auto;
}
.listContainer .listGroup li {
	min-height: 35px;
	background-color: #CBCBCB;
	margin-bottom: 0.5em;
	padding: 1% 1%;
}

.listContainer .listGroup li:nth-child(odd) {
	background-color: #fff;
}	

.listContainer .listGroup li > div {
	display: inline-block;
}

.listContainer .listGroup li > div.itemTime {
	float: right;
	clear: both;
	right: 0;
}

.listContainer .listGroup li > div.itemDetail {
	display: inline-block;
	min-width: 50%;
}

.listContainer form {
	overflow-y: auto;
	height: 400px;
	padding-top: 0.5em;
}

.listContainer form > fieldset {
	padding: 0;
	padding-left: 1.3em;
	margin: 0;
}

.listContainer form select.medication {
	width: 90%;
}

.listContainer form #recurringCheck {
	padding-top: 0.5em;
	padding-left: 0.5em;
}

.listContainer form #recurringCheck label, 
.listContainer form #recurringCheck input[type=checkbox] {
	display: inline-block;
}

.listContainer form #repeat label {
	margin-bottom: 0;
	font-size: 0.9em;
}
.listContainer form #repeat li.field {
	margin-bottom: 0;
}

.listContainer form #repeat li#start label,
.listContainer form #repeat li#end,
.listContainer form #repeat li#frequency {
	display:none;
}

.listContainer form #submitBtn {
	width: 100%;
	margin-top: 1em;
}

.listContainer form input.xwide:last-child, .input.xwide:last-child {
	margin-left: 0px;
}
.listForm {
	display: none;
}

#seniorSubmitBtn.disable {
	background: #818181 !important;
	border: 1px solid #898989 !important;
	pointer-events: none !important;
}

/* Responsive */
@media screen and (max-width:768px) {
	#contactMenu {
		max-width: 100%;
	}
	#contactList {
		display: none;
	}
}